<!DOCTYPE HTML>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>도서 상세</h2>
    </div>

    <div>
        <label for="id">도서 ID</label>
        <input type="text" id="id" name="id" class="form-control"
               value="1" th:value="${book.id}" readonly>
    </div>
    <div>
        <label for="name">도서명</label>
        <input type="text" id="name" name="name" class="form-control"
               value="상품A" th:value="${book.name}" readonly>
    </div>
    <div>
        <label for="author">저자</label>
        <input type="text" id="author" name="author" class="form-control"
               value="10000" th:value="${book.author}" readonly>
    </div>
    <div>
        <label for="year">출판연도</label>
        <input type="text" id="year" name="year" class="form-control"
               value="10" th:value="${book.year}" readonly>
    </div>
    <div>
        <label for="company">출판사</label>
        <input type="text" id="company" name="company" class="form-control"
               value="10" th:value="${book.company}" readonly>
    </div>
    <div>
        <label for="genre">장르</label>
        <input type="text" id="genre" name="genre" class="form-control"
               value="10" th:value="${book.genre}" readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/{bookId}/edit(bookId=${book.id})}'|"
                    type="button">도서 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-danger btn-lg"
                    onclick="location.href='books.html'"
                    th:onclick="|location.href='@{/{bookId}/delete(bookId=${book.id})}'|"
                    type="button">도서 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='books.html'"
                    th:onclick="|location.href='@{/books}'|"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>