<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
         .container {
         max-width: 560px;
         }
         .field-error {
         border-color: #dc3545;
         color: #dc3545;
         }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>도서 수정 폼</h2>
    </div>
    <form action="item.html" th:action th:object="${book}" method="post">
        <div>
            <label for="id">도서 ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control"
                   readonly>
        </div>
        <div>
            <label for="name">도서명</label>
            <input type="text" id="name" th:field="*{name}"
                   th:errorclass="field-error" class="form-control"
                   placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{name}">
                도서명 오류
            </div>
        </div>
        <div>
            <label for="author">저자</label>
            <input type="text" id="author" th:field="*{author}"
                   th:errorclass="field-error" class="form-control"
                   placeholder="저자명을 입력하세요">
            <div class="field-error" th:errors="*{author}">
                저자명 오류
            </div>
        </div>
        <div>
            <label for="year">출판연도</label>
            <input type="text" id="year" th:field="*{year}"
                   th:errorclass="field-error" class="form-control"
                   placeholder="출판연도를 입력하세요">
            <div class="field-error" th:errors="*{year}">
                출판연도 오류
            </div>
        </div>

        <div>
            <label for="company">출판사명</label>
            <input type="text" id="company" th:field="*{company}"
                   th:errorclass="field-error" class="form-control"
                   placeholder="출판사명을 입력하세요">
            <div class="field-error" th:errors="*{company}">
                출판사명 오류
            </div>
        </div>

        <div>
            <label for="genre">장르</label>
            <input type="text" id="genre" th:field="*{genre}"
                   th:errorclass="field-error" class="form-control"
                   placeholder="장르를 입력하세요">
            <div class="field-error" th:errors="*{genre}">
                장르 오류
            </div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='item.html'"
                        th:onclick="|location.href='@{/{bookId}/detail(bookId=${book.id})}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>