<!DOCTYPE HTML>
<html xmlns:th="http://www/thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">

  <div class="py-5 text-center">
    <h2>검색 결과</h2>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/books}'|"
              type="button">홈으로</button>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>도서명</th>
        <th>저자</th>
        <th>출판연도</th>
        <th>출판사명</th>
        <th>장르</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <td><a href="book.html" th:href="@{|/${book.id}/detail|}" th:text="${book.id}">도서id</a></td>
        <td><a href="book.html" th:href="@{|/${book.id}/detail|}" th:text="${book.name}">도서명</a></td>
        <td th:text="${book.author}">10</td>
        <td th:text="${book.year}">10</td>
        <td th:text="${book.company}">10</td>
        <td th:text="${book.genre}">10</td>
      </tr>
      </tbody>
    </table>
    <h2 th:if="${noResult}" th:text="'검색 결과 없음'"></h2>
  </div>
  <th:block th:each="page:${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage+2}" th:href="@{/patient/patientList(page=${page-1})}" th:text ="${page}"></a>
    <strong th:if="${page==nowPage+2}" th:text ="${page}" style="color:red"></strong>
  </th:block>
</div> <!-- /container -->
</body>
</html>